<!-- Page content -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="intro-message">
                        <h1 align="center">Programmer</br>Designer</br> Gamer</h1>
                        <h3>
                          <p>Hi, my name is Tim and I am a C# and Java programmer with a passion for game design and gaming in general.</p>
                        </h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li><a href="https://twitter.com/TimothyVeletta" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li><a href="https://bitbucket.com/Timmahh" class="btn btn-default btn-lg"><i class="fa fa-bitbucket fa-fw"></i> <span class="network-name">Bitbucket</span></a>
                            </li>
                            <li><a href="https://au.linkedin.com/pub/timothy-veletta/27/532/71/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->


    <div class="container"></div>