<section id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
				<h2>Portfolio</h2>
				
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-4 portfolio-item" ng-repeat="project in portfolio.projects">
				<a class="portfolio-link" ng-click="open(project)">
					<div class="caption">
						<div class="caption-content">
							<i class="fa fa-search-plus"></i>
							{{project.title}}
						</div>
					</div>
					<img src="{{project.images[0]}}" class="img-responsive" alt=""/>
				</a>
			</div>
		</div>
	</div>
</section>


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
    	<div class="row">
    		<div class="col-lg-11"><h3 class="modal-title">{{project.title}}</h3></div>
        	<div class="col-lg-1"><button class="btn btn-danger" ><span ng-click="cancel()" class="glyphicon glyphicon-remove"></span></button></div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
        	<div class="col-sm-6"> 
        		
        	</div>
        	<div class="col-sm-6"> 
        		<dl class="dl-horizontal">
        			<dt>Purpose: </dt><dd>{{project.purpose}}</dd>
        			<dt>Date Completed: </dt><dd>{{project.dateCompleted}}</dd>
        			<dt>Time to Complete: </dt><dd>{{project.timeToComplete}}</dd>
        		</dl>
        		<p>{{project.description}}</p>
        	</div>
        </div>
        <div class="row">
        	<div class="col-sm-1">Tools:</div>
        	<div class="col-sm-11">
        		<ul class="list-inline">
	        		<li ng-repeat="tool in project.tools">
	        			{{tool.name}}
	        		</li>
	        	</ul>
        	</div>
        </div>
    </div>
</script>
